body {
    background-color:#d3d3d3;
    margin:0;
}
nav {
    background-color: #ffffff;
}
nav li a {
    color: #6441A4;
}
.nav-wrapper img {
    padding-top: 10px;
    height: 55px;
    padding-bottom: 2px;
}
div.searchContainer input {
    width: 20%;
}
h1 img {
    height: 55px;
}

/*Input search*/
/* label underline focus color */
input[type=text] {
     border-bottom: 1px solid #d3d3d3;
     box-shadow: 0 1px 0 0 #d3d3d3;
   }
input[type=text]:focus:not([readonly]), input[type=text].valid {
     border-bottom: 1px solid #6441A4;
     box-shadow: 0 1px 0 0 #6441A4;
   }
input[placeholder] {
    color: #6441A4;
}


/* placeholder styling*/
::-webkit-input-placeholder {
   color: #6441A4;
}
:-moz-placeholder { /* Firefox 18- */
   color: #6441A4;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #6441A4;
}
:-ms-input-placeholder {
   color: #6441A4;
   }
   /*Button styling*/
button.btn {
    color: #6441A4;
}

/*STYLING JQUERY REQUEST*/
.card {
  width: 40%;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #6441A4;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #c5b6e2;
}
.embedVideo {
    position:relative;
    padding-bottom:60.0%;
    height:0;
 }
.embedVideo iframe{
    position:absolute;
    top:0;
    left:0;
    width:70%;
    height:70%;
    border:0;
 }
 .embedChat {
    position:relative;
    padding-bottom:60.0%;
    height:0;
 }
.embedChat iframe{
    position:absolute;
    top:0;
    left:0;
    width:20%;
    height:70%;
    border:0;
 }

.main{
    background-color: #ffffff;
    /*border: 1px solid #6441A4;*/
}
.tabs .tab a:hover, .tabs .tab a.active {
    font-weight: bold;
    color: #6441A4;
}
.tabs .indicator  {
    background-color: #6441A4; 
}
.tabs .tab a {
    color: #6441A4;
}

#info {
    padding:8px;
}
#info img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.bold {
    font-weight: bold;
}
.flow-text {
    margin:0;
}